.contact__input {
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255);
  box-shadow: var(--shadow-light);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block;
}

.contact__input:focus {
  outline: none;
  box-shadow: var(--shadow-input);
  border-bottom: 4px solid var(--color-primary);
}

.contact__input:focus:invalid {
  border-bottom: 4px solid var(--color-accent);
}

::placeholder {
  color: #a1a1aa;
}

.contact__form-label {
  display: block;
  margin-left: 20px;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.contact__input:placeholder-shown + .contact__form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}
