.main-blogs {
  background-color: var(--color-background);
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 5.2rem;
  margin-bottom: 3.2rem;
  padding: 0 3.2rem;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 4.2rem 1.8rem;
  padding-bottom: 1.8rem;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: (--shadow-card);
  transition: box-shadow 0.2s ease-in-out;
}

.blog:hover {
  box-shadow: var(--shadow-card-dark);
}

.blog__title {
  font-size: 1.8rem;
  text-align: center;
}

.blog__desc {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__tags {
  display: flex;
  gap: 2.4rem;
}

.blog__tag {
  background-color: var(--color-background-darker);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-sm);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.blog__reactions {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.blog__reaction {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.blog__button a {
  background-color: var(--color-primary-dark);
  margin-top: auto;
}
