.product__wrapper {
  max-width: 120rem;
  margin: 0 auto;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.product__img--big {
  width: 100%;
  height: 45rem;
  object-fit: contain;
}
