.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  width: 100%;
}

.nav {
  font-size: 1.8rem;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

.nav__item {
  position: relative;
  padding: 2.4rem 1.8rem;
  transition: all 0.3s ease-in-out;
  color: var(--color-text-light);
  cursor: pointer;
}

.nav__item:hover,
.nav__item--active {
  color: var(--color-primary);
}
.nav__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 100px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, height 0.2s 0.3s;
}

.nav__item:hover::before,
.nav__item--active::before {
  transform: scaleX(1);
  height: 3px;
}
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: inherit;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 100%;
  padding: 0 2.4rem;
  text-decoration: none;
  color: inherit;
  border-radius: var(--radius-lg);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.user:hover {
  background-color: var(--color-background);
}
.user__img {
  height: 4.2rem;
  width: auto;
  border-radius: 50%;
}

.user__name {
  font-size: 1.8rem;
}

@media only screen and (max-width: 28em) {
  .nav {
    font-size: 1.4rem;
  }
  .nav__list {
    gap: 1.4rem;
  }

  .nav__item {
    padding: 1.6rem 0.8rem;
  }
}
