.nav__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 100px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, height 0.2s 0.3s;
}

.nav__item:hover::before,
.nav__item--active::before {
  transform: scaleX(1);
  height: 3px;
}
