.login {
  position: relative;
}

.login__bg {
  object-fit: cover;
  object-position: bottom;
}

.login__content {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4.2rem;
  padding: 0 3.2rem;
}

.login__fields {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.login__input {
  width: 100%;
  padding: 0.8rem 1.8rem;
  font-size: 1.6rem;
  border-radius: var(--radius-lg);
  color: var(--color-text);
  border: none;
  font-family: inherit;
  background-color: var(--color-background);
  border-bottom: 4px solid transparent;
}
.login__input:focus {
  outline: none;
  box-shadow: var(--shadow-input);
  border-bottom: 4px solid var(--color-primary-light);
}

.login__btn {
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 1.2rem 2.4rem;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
}

.login__btn:hover {
  background-color: var(--color-primary-darker);
  transform: scale(1.02);
}

.login__heading {
  font-family: var(--font-family-heading);
  font-size: 3.2rem;
}

.login__error {
  margin-top: 1.4rem;
  margin-left: 1.8rem;
  color: var(--color-accent);
  animation: fadeInSlideDown 0.5s ease-in-out;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 56.25em) {
  .login__content {
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 6.2rem;
    gap: 3.2rem;
  }

  .login__fields {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .login__heading {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .login__content {
    margin-top: 15rem;
  }

  .login__fields {
    flex-direction: column;
    gap: 1.2rem;
  }

  .login__btn {
    padding: 1.2rem 2.4rem;
    width: 100%;
  }
  .login__error {
    font-size: 1.2rem;
  }
}
