.main-profile {
  background: linear-gradient(
    to top,
    var(--color-primary-lighter),
    var(--color-primary-lightest)
  );
}

.section-profile {
  max-width: 60rem;
  margin: 3.2rem auto;
  padding: 5.2rem 3.2rem;
  background-color: #fff;
  border-radius: var(--radius-lg);
}

.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.profile__image-container {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow-card-dark);
  border: 0.8rem solid var(--color-primary-light);
}

.profile__image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.profile__form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile__label {
  margin-left: 1.4rem;
  font-size: 1.6rem;
  color: var(--color-text-lightest);
}

.profile__input {
  width: 100%;
  padding: 0.8rem 1.8rem;
  font-size: 1.6rem;
  border-radius: var(--radius-lg);
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: var(--color-background);
}
