.main-products {
  background-color: var(--color-background);
}

.products {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.2rem;
  list-style: none;
  margin-top: 6.2rem;
  margin-bottom: 6.2rem;
}

@media only screen and (max-width: 53em) {
  .main {
    padding: 4.2rem 1.4rem;
  }

  .section-products__intro {
    letter-spacing: 0;
    line-height: 1.2;
    margin-top: 2.4rem;
    font-size: 2.8rem;
  }

  .products {
    grid-gap: 4.2rem;
    margin-bottom: 0;
  }
}
