@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-primary: #ae38bf;
  --color-primary-light: #c674d2;
  --color-primary-lighter: #dfafe5;
  --color-primary-lightest: #efd7f2;
  --color-primary-dark: #822a8f;

  --color-secondary: #14b8a6;
  --color-secondary-light: #2dd4bf;
  --color-secondary-lighter: #ccfbf1;
  --color-secondary-lightest: #f0fdfa;
  --color-secondary-dark: #0d9488;
  --color-secondary-darker: #0f766e;

  --color-accent: #f97316;

  --color-text: #444;
  --color-text-light: #525252;
  --color-text-lightest: #999;

  --color-border: #e0e0e0;
  --color-background: #f4f2f2;

  --font-family-base: "Open Sans", sans-serif;
  --font-family-heading: "Playfair Display";

  --radius-lg: 1.2rem;
  --radius-md: 0.8rem;
  --radius-sm: 0.4rem;

  --shadow-light: 0 0px 2rem rgba(0, 0, 0, 0.1);
  --shadow-card: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  --shadow-card-dark: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-base);
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
}

#root {
  height: 100%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

/* Typography */
.heading-primary {
  font-family: var(--font-family-heading);
  font-size: 3.2rem;
  color: var(--color-primary);
  letter-spacing: -1px;
  font-weight: 500;
}

.heading-secondary {
  color: var(--color-secondary);
  font-family: var(--font-family-heading);
  font-size: 3.2rem;
}
.heading-tertiary {
  color: var(--color-primary);
  font-family: var(--font-family-heading);
  font-size: 2.4rem;
}

/* Reusable Styles */
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  align-self: flex-start;
  transition: all 0.2s ease-in-out;
  margin-top: auto;
  border-radius: var(--radius-lg);
  color: #fff;
}

.main {
  flex: 1;
  overflow: auto;
}

.main-about,
.main-contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
